/*reset*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*/reset*/

/*header_macro_sections*/
.header_container{
  width: 80%;
  height: 500px; /*da_togliere*/
  margin: auto;
  background-color: blue; /*da_togliere*/
}

.header_texts_unity{
  width: 80%;
  height: 400px; /*da_togliere*/
  margin: auto;
  background-color: red; /*da_togliere*/
}

.header_nav_bar{
  width: 100%;
  height: 25%;
  background-color: green; /*da_togliere*/
}

.header_text_cta_box{
  width: 100%;
  height: 75%;
  background-color: white; /*da_togliere*/
}
/*/header_macro_sections*/

/*header_nav_bar*/
.header_logo{
  width: 15%;
  height: 100%;
  background-color: red; /*da_togliere*/
  position: relative;
  float: left;
}

.header_logo>span{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header_links{
  width: 45%;
  height: 100%;
  background-color: yellow; /*da_togliere*/
  float: left;
}

.header_cta{
  width: 40%;
  height: 100%;
  background-color: black; /*da_togliere*/
  float: left;
}

.header_links li,.header_cta li{
  display: inline-block;
  list-style: none;
}

.header_links a,.header_cta a{
  text-decoration: none;
  font-size: 10px;
}

.header_links>span,.header_cta>span{
  text-align: center;
  line-height: 101px;
}

/*clearfix*/
.header_nav_bar::after{
  content: "";
  display: block;
  clear: both;
}
/*/clearfix*/
/*/header_nav_bar*/
