/*reset*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*/reset*/

body{
  font-family: 'Roboto', sans-serif;
}

/*header_macro_sections*/
.header_container{
  width: 80%;
  height: 500px; /*da_togliere*/
  margin: auto;
  background-color: blue; /*da_togliere*/
}

.header_texts_unity{
  width: 85%;
  height: 400px; /*da_togliere*/
  margin: auto;
  background-color: red; /*da_togliere*/
}

.header_nav_bar{
  width: 100%;
  height: 20%;
}

.header_text_cta_box{
  width: 100%;
  height: 80%;
  background-color: white; /*da_togliere*/
}
/*/header_macro_sections*/

/*header_nav_bar*/
.header_logo{
  width: 15%;
  height: 100%;
  position: relative;
  float: left;
}

.header_logo>span{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-57%, -57%);
}

.header_links{
  width: 40%;
  height: 100%;
  float: left;
}

.header_cta{
  width: 45%;
  height: 100%;
  float: left;
}

.header_links_container{
  display: inline-block;
  width: 100%;
  height: 100%;
}

.header_links li,.header_cta li{
  display: inline-block;
  list-style: none;
}

.header_links li{
  margin-right: 4px;
}

.header_links a,.header_cta a{
  text-decoration: none;
  font-size: 10px;
  color: white;
}

.header_links>span,.header_cta>span{
  line-height: 78px;
}

.header_cta>span{
  text-align: right;
}

li>.border{
  border: 1px solid white;
  padding: 8px;
  margin-left: 10px;
  border-radius: 10px;
}

a>.login_space{
  width: 70px;
  display: inline-block;
  text-align: center;
}

.header_cta ul li:last-child>a{
  background-color: green;
}

/*clearfix*/
.header_nav_bar::after{
  content: "";
  display: block;
  clear: both;
}
/*/clearfix*/
/*/header_nav_bar*/
