/*reset*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*/reset*/

/*header_macro_sections*/
.header_container{
  width: 80%;
  height: 500px; /*da_togliere*/
  margin: auto;
  background-color: blue; /*da_togliere*/
}

.header_texts_unity{
  width: 80%;
  height: 400px; /*da_togliere*/
  margin: auto;
  background-color: red; /*da_togliere*/
}

.header_nav_bar{
  width: 100%;
  height: 25%; /*da_togliere*/
  background-color: green; /*da_togliere*/
}

.header_text_cta_box{
  width: 100%;
  height: 75%; /*da_togliere*/
  background-color: white; /*da_togliere*/
}
/*/header_macro_sections*/

/*header_nav_bar*/
.header_logo{
  width: 15%;
  height: 100%;
  background-color: red;
  position: relative;
}

.header_logo>span{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*/header_nav_bar*/
